[color]
	status = auto
	branch = auto
	ui = auto
[user]
	name = Tomy
	email = kazushige.tominaga@mkt-apps.com
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\\\"%h %ad | %s%d [%an]\\\" --graph --date=short
[core]
	filemode = false
