[color]
	status = auto
	branch = auto
	ui = auto
[user]
	name = tommy
	email = kazu9su@gmail.com
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\\\"%h %ad | %s%d [%an]\\\" --graph --date=short
    ctags = !.git/hooks/ctags
[core]
	filemode = false
	autocrlf = false
[init]
	templatedir = ~/.git
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
